a,
a:hover,
a:visited {
  text-decoration:underline;
  color:inherit;
}

.infobox {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  margin: 5px 30px 0px;/* top / left,right / bottom */
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  cursor: Default;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 1;
}

.show {
  animation-name: animateShowHide;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes animateShowHide {
  0%   {top: -100px;}
  30%   {top: 0px;}
  100%  {top: 0px;}
}

.alarm {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: black;
}

.heading {
  position: relative;
}

.heading h3 {
  text-align: center;
}
@media (min-width: 601px){
  .heading h3 {
    position: absolute;
    left: 65px;
  }
}

.heading img {
  width: 60px;
  height: 60px;
}
@media (max-width: 600px){
  .heading img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }
}

.heading select {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#resolution {
  cursor: pointer;
}

/* .hide {
  display: none;
} */

/* Make sure that sidebar is shown on small screens and hide the "toggle sidebar"-icon */
@media (max-width: 600px){
  .changesets {
    display: block;
  }
  /* Hide toggle sidebar icon on small screens*/
  .leaflet-control-toggle {
    display: none;
  }
}

#map {
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  flex: 1 1 auto;
  height: 100vh;
}
#map.faded {
  opacity: .5;
}

#zoom-in {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  pointer-events: none;
  opacity: .6;
  padding-left: 44px;
  z-index: 444;
  width: 100%;
  color: white;
  background-color: red;
}

#loading-animation {
  position: absolute;
  left: calc(50% - 30px);
  top: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 444;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Toggle sidebar icon */
.leaflet-control-toggle-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: #000;
  -webkit-mask-image: url(../img/icon-sidebar-left.svg);
  mask-image: url(../img/icon-sidebar-left.svg-solid.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.result {
    border-bottom:1px solid #eee;
}

.affix {
    position:fixed;
}

a.l {
    padding:2px;
    text-decoration:underline;
    font-size:13px;
    margin:0 4px;
}

h2, p {
    margin:0;
    padding:0 20px;
}

.result {
  padding: 5px 0 0 0;
  transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  }
  .result.active,
  .result:hover {
    background-color: #f5f5f5;
  }
  .result.active {
    color: #00c500 !important;
  }
  .result .date {
    padding-left: 5px;
    text-decoration: underline dotted;
    cursor: help;
    }

.changeset {
  padding: 0px 0px 5px 20px;
  height: 35px;
  overflow: hidden;
  }
  .changeset a { text-decoration: none;}
  .changeset a.comment:first-letter { text-transform: capitalize; }
  .result.active .changeset,
  .result:hover .changeset { height: auto; min-height: 35px;}
  .changeset:first-line { font-weight: bold; font-size: 18px; }

.reveal { visibility: hidden; }
  a.reveal { text-decoration: none; opacity: 0.6; }
  a.reveal:hover { text-decoration: underline; opacity: 1; }
  .result.active .reveal,
  .result:hover .reveal { visibility: visible; }

h2 select {
  width: auto;
  height: auto;
  border: 0;
  background: transparent;
  color: black;
  font-weight: bold;
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  vertical-align: baseline;
}

.col {
  flex: 0 1 310px;
  overflow: auto;
  height: 100vh;
}
@media (max-width: 600px){
  .col {
    flex: 1 1 auto;
    height: 50vh;
  }
}

.container {
  /* margin: 0 auto;
  overflow: hidden; */
  display: flex;
  /* flex-wrap: wrap; */
  /* max-width: 100%; */
}

@media (max-width: 600px){
  .container {
    flex-direction: column;
  }
}

/* Custom scroll bar
------------------------------------------------------- */
/* Designing for scroll-bar */ 
::-webkit-scrollbar { 
    width: 6px; 
} 

/*Increase size of scroll bar on hover*/
*:hover::-webkit-scrollbar {
  width: auto;
  /* height: 10px; */
}

/* Track */ 
::-webkit-scrollbar-track { 
    background: gainsboro; 
    border-radius: 5px; 
} 

/* Handle */ 
::-webkit-scrollbar-thumb { 
    background: black; 
    border-radius: 5px; 
} 

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
    background: #555; 
}